.navbar{
		background-image: url(images/mac-code.jpg);
	 	background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		min-height: 380px;
}
.logo{
	font-size: 25px;
	color: black;
	padding: 5px 5px;
	text-decoration: none;
}
.sidebar {
	font-size: 25px;
	font-style: bold;
	float: right;
}
.sidebar a{
	color: white;
  	padding: 5px 5px;
  	text-decoration: none;
}
.logo{
	color: black;
  	padding: 0px 25px;
	float: left;
}

body{
	margin: 0px;
  	background-color: black;
  	height: 100%;
  	width: 100%;
}