#navbar {
		  overflow: hidden;
  		padding: 50px 10px; /* Large padding which will shrink on scroll (using JS) */
  		transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  		position: fixed; /* Sticky/fixed navbar */
  		width: 100%;
  		top: 0; /* At the top */
  		z-index: 99;
  		border-color: transparent;
      background-color: white;
}

.logo{ /*logo styling*/
	float: left;
	left: 0;
	top: 0;
	transition: 0.4s;
}
#navbar-items{
	 float: right;
  	color: black;
  	font-weight: bold;
  	padding: 12px;
  	text-decoration: none;
  	font-size: 18px;
  	line-height: 25px;
  	border-radius: 4px;
}
.nav-link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
body{
	background-image: 
	url(images/pngbackground.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
  width: 100%;
  height: 100%;
}
#content-under-nav{
  margin-top:250px;
  font-size:20px;
  overflow: hidden;
  border-collapse: collapse; 
}
#content{
  margin-top:10px;
  font-size:20px
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right-items {
    float: none;
  }
}
.parallax-intro{
		background-color: transparent;
/*    background-image: url(images/Parallax-light.jpg);*/
		min-height: 400px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: black;
}
.content{
	 background-color: transparent;
   background-image: url(images/Parallax-white.jpg);
	 min-height: 400px;
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 color: black;
}
footer {
    /*background-color: grey;*/
    background-image: url(images/desk-laptop.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    min-height: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
hr { 
    background: url(images/page-dividers2.png) no-repeat top center;
    background-size: contain;
    display: block;
    height: 30px;
    padding: 0 0 0 0;
    border: 0;
    position: relative;
    background-color: transparent;
}

