.navbar {
	/*the linear gradient adds tint to photos*/
		background-image: linear-gradient(
     	rgba(0, 0, 0, 0.5),
      	rgba(0, 0, 0, 0.5)
    	),		
		url(images/mac-code.jpg);
	 	background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		min-height: 380px;
  		transition: all 0.4s ease-in-out;
  		-webkit-transition: all 0.4s ease-in-out;
  		-moz-transition: all 0.4s ease-in-out;
}
.shrink{ /*will be applied when user scrolls*/
	padding-top: 0 import !important;
	padding-bottom: 0 !important;
	min-height: 55px !important;
}
.shrink .navbar-brand {
        height: 0 !important;
        line-height: 0 !important;
   }
.logo{ /*logo styling*/
	font-size: 25px;
	color: black;
	padding: 5px 5px;
	float: left;
	text-decoration: none;
	position: fixed;
}
.sidebar { /*actual nav bar styling*/
	font-size: 15px;
	padding: 5px 25px;
	font-style: bold;
	float: right;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  right: 0px; 
}
.nav-link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
.nav-list-item a{ /*link text in nav bar styling*/
	color: white;
  	padding: 5px 15px;
  	text-decoration: none;
}
.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
body{
	margin: 0px;
  	background-color: black;
  	width: 100%;
  	color: white
}